<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <div class="navbar">
        <nav>
            <ul>
                <div class="aside"><li><img src="/static/img/logo.png" alt=""></li></div>
                <a href=""><li>Home</li></a>
                <a href=""><li>About us</li></a>
                <a href=""><li>Blog</li></a>
                <a href=""> <li>Services</li></a>
            </ul>
        </nav>
    </div>
    
<div class="container">
    <div class="sub1">
        <div class="sub_a">
            <a href="/static/img/pic_1.jpg"><img src="/static/img/pic_1.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, veritatis?</p>
            <button>Buy</button>
            <button>Rent</button>
        </div>

        <div class="sub_a">
            <a href="/static/img/pic_2.jpg"><img src="/static/img/pic_2.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, veritatis?</p>
            <button>Buy</button>
            <button>Rent</button>
        </div>

        <div class="sub_a">
            <a href="/static/img/pic_3.jpg"><img src="/static/img/pic_3.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, veritatis?</p>
            <button>Buy</button>
            <button>Rent</button>
        </div>
        
        <div class="sub_a">
            <a href="/static/img/pic_4.jpg"><img src="/static/img/pic_4.jpg" alt=""></a>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae, veritatis?</p>
            <button>Buy</button>
            <button>Rent</button>
        </div>
    </div>

    <div class="sub2">
            <div class="sub_a">
                <h1> latest update</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, rerum provident ad blanditiis vitae nostrum eius facere. Recusandae similique hic aspernatur dolor nam fugit veritatis quis illum minus sunt voluptatem rerum explicabo nihil eaque, molestias dolore animi neque nesciunt! Neque vitae vero recusandae sed ratione porro? Maxime reprehenderit, excepturi, voluptatum a ex ipsa nesciunt ipsum cum corrupti voluptate doloremque minima atque dolores iure rerum. Minus ipsam culpa amet dolor, labore illum accusantium explicabo aut animi voluptatibus perspiciatis. Omnis voluptatum natus, harum corrupti mollitia possimus? Debitis impedit cupiditate sequi dolores dolore. Vel laudantium unde ut quae, architecto sit cumque quia neque.</p>
    </div>
</div>
</div>
        <footer>
        <div class="main-footer">
            <div class="selection1">
                <ul>
                    <li><img id="footer-log" src="./images/logo.svg" alt=""></li>
                    <li><img src="./images/icon-location.svg" alt="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus accusantium vitae a quaerat veritatis et dolor cupiditate totam! Dolorem ab earum voluptatem ex ea impedit asperiores vero aspernatur sed eligendi.</li>
                    <li><img src="./images/icon-phone.svg" alt="">+234-813-6593-992</li>
                    <li><img src="./images/icon-email.svg" height="25px" width="25px">danielagbeleshe@gmail.com</li>
                </ul>
            </div>       
            <div class="selection2">
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">What We Do</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </div>
            <div class="selection3">
                <ul>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
            <div class="selection4">
                <ul>
                    <li><img src="./logos/facebook.png" alt=""></li>
                    <li><img src="./logos/twitter - Copy.png" alt=""></li>
                </ul>
            </div>
        </div>
            <div id="copy">
            <p>copyright &copy; 2022 BiobaDaniel</p>
            </div>
        </footer>
</body>
</html>